{% extends 'admin/base.html' %}


{% block body %}


{% if category_id %}
    <h1 class="text-center text-dark mt-4 mb-5"> Chi tiết danh mục </h1>
    <hr>
    <div class="mb-5">
        <form id="categoryForm" action="{{ url_for('category.change_id', category_id = category_id ) }}" method="POST">
            <div class="form-group">
                <label><b>Mã danh mục:</b> </label>
                <span class="form-inline">
                    <input type="button"
                           class="form-control ml-2 text-center w-50 mr-3"
                           value='{{ category_id }}'
                           name="category_id"
                           placeholder="Nhập mã danh mục "
                           onblur="stopChanges()"
                           onkeyup="checkExistId()">
                    <button class="btn btn-dark"
                            type="button"
                            onclick="changesId()">
                        <i class="fa-solid fa-pen"
                           style="font-size: 22px;"></i>
                    </button>

                    <button class="btn btn-warning ml-2"
                       type="submit"
                       id="save-btn">
                        <i class="fa-solid fa-floppy-disk"
                           style="font-size: 22px;"></i>
                           Lưu thay đổi
                    </button>
                </span>
                <p class="ml-3 text-success alert_success">
                    <i class="fa-solid fa-circle-check mr-2 text-success"></i>
                    Mã danh mục hợp lệ
                </p>
                <p class="ml-3 text-danger alert_error">
                    <i class="fa-solid fa-circle-xmark mr-2 text-danger"></i>
                    Mã danh mục đã tồn tại
                </p>
            </div>
            <div class="form-group">
                <label><b>Số sản phẩm ứng với danh mục : </b></label>
                <input type="text"
                       readonly
                       class="form-control ml-2 text-center w-50"
                       value="{{ counter }}" >
            </div>
        </form>

        <hr>
        <br>

    <h2 class="text-center"> Sản phẩm trong danh mục </h2>
        <br>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">STT</th>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
          </tr>

        </thead>
        <tbody>
         {% for product in products %}
            {% if product.active == True %}
                <tr class="text-center">
                    <th scope="row">{{ (page * step + loop.index - step ) }}</th>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                </tr>
            {% endif %}
         {% endfor %}
        </tbody>
    </table>

    {% if pages > 1 %}
                <div class="container d-flex justify-content-around" >
                    <ul class="pagination " style="color:black">
                        {% if prev_page %}
                        <li class="page-item "><a class="page-link border-0" href="{{ prev_page }}">Sau</a></li>
                        {% endif %}
                            {% for idx in range(1, pages+1) %}
                                <li class="page-item">
                                    <a class="page-link border-0"
                                       href="{{ url_for('category.category_detail',
                                                         page=idx,
                                                         category_id=category_id) }}">
                                        {{idx}}
                                    </a>
                                </li>
                            {% endfor %}
                        {% if next_page %}
                        <li class="page-item"><a class="page-link border-0" href="{{ next_page }}">Trước</a></li>
                        {% endif %}
                    </ul>
                </div>
        {% endif %}
    </div>
    <a class="btn btn-secondary mb-5 p-3"
       style="font-size: 22px;"
       href="{{ url_for('category.index') }}">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Quay lại
    </a>



{% else %}
    <h1 class="text-center text-dark mt-4 mb-5"> Danh mục sản phẩm </h1>
    <hr>


    <div class="mb-5">
            <form class="form-inline mb-3">
                 <input class="form-control mr-sm-2 w-50"
                        type="search"
                        placeholder="Nhập mã danh mục hoặc tên"
                        aria-label="Search"
                        name="kw">
                <button class="btn btn-outline-dark my-2 my-sm-0"
                        type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Tìm kiếm
                </button>

                <button type="button"
                        class="btn btn-warning ml-2"
                        data-toggle="modal"
                        data-target="#createModal">
                    <i class="fa-solid fa-file-circle-plus"></i>
                    Tạo danh mục mới
                </button>
            </form>
            <hr>
        <form>
            <table class="table table-hover text-center table-bordered"
                   style="font-size: 20px;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Mã danh mục</th>
                  <th scope="col">Tên danh mục</th>
                  <th scope="col">Chi tiết</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                    {% for category in categories %}
                    <tr>
                        <th scope="row">
                            <span class="badge badge-dark"
                                  style="font-size: 20px;">
                                {{ category.id }}
                            </span>
                        </th>
                        <td><b>{{ category.name }}</b></td>
                        <td>

                            <a class="btn detail-btn"
                               type="button"
                               style="font-size: 22px"
                               href="{{ url_for('category.category_detail', category_id=category.id) }}">
                                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('category.delete_category', category_id=category.id) }}"
                               class="btn btn-danger text-light"
                               type="button"
                               style="font-size: 22px">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
        </form>
    </div>


        {% if pages > 1 %}
                <div class="container d-flex justify-content-around" >
                    <ul class="pagination " style="color:black">
                        {% if prev_page %}
                        <li class="page-item "><a class="page-link border-0" href="{{ prev_page }}">Sau</a></li>
                        {% endif %}
                            {% for idx in range(1, pages+1) %}
                                <li class="page-item">
                                    <a class="page-link border-0"
                                       href="{{ url_for('category.index',
                                                         page=idx) }}">
                                        {{idx}}
                                    </a>
                                </li>
                            {% endfor %}
                        {% if next_page %}
                        <li class="page-item"><a class="page-link border-0" href="{{ next_page }}">Trước</a></li>
                        {% endif %}
                    </ul>
                </div>
        {% endif %}



<!-- Modal -->
<form action="{{ url_for('category.create_category') }}" method="POST">
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title font-weight-bold" id="exampleModalLabel">Tạo danh mục mới </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label><b style="font-size: 20px;">Mã danh mục: </b></label>
                  <input type="text"
                         placeholder="Nhập mã danh mục mới... "
                         class="form-control"
                         name="category_id"
                         onkeyup="checkExist()"
                         required>
                  <span id="alertExist"
                        style="font-size: 14px;"
                        class="row ml-2 mt-2">
                  </span>
              </div>
              <div class="form-group">
                  <label><b style="font-size: 20px;">Tên danh mục: </b></label>
                  <input type="text"
                         placeholder="Nhập tên danh mục mới... "
                         class="form-control"
                         name="category_name"
                         required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="submit"
                    class="btn btn-dark"
                    id="createButton">
                <i class="fa-solid fa-folder-plus mr-2"></i>
                Tạo
            </button>
          </div>
        </div>
      </div>
    </div>
</form>

{% endif %}

 <script>

    document.querySelector('.alert_success').style.display = 'none'
    document.querySelector('.alert_error').style.display = 'none'


     document.getElementById('save-btn').style.display = 'none'
        id_value = document.querySelector("input[name='category_id']").value
        changesId = () => {
            btn = document.querySelector("input[name='category_id']")
            btn.type = 'text'
            btn.focus()
            document.getElementById('save-btn').style.display = 'block'
         }

         stopChanges = () =>{
             document.querySelector("input[name='category_id']").value = id_value
         }

    base_id_value = document.querySelector("input[name='category_id']").value



    function checkExistId(){
        id_value = document.querySelector("input[name='category_id']").value
        if (id_value){
                fetch(`/api/check_change_category_id/` + base_id_value + '/' + id_value)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            document.querySelector('.alert_error').style.display = 'block'
                             document.querySelector('.alert_success').style.display = 'none'
                             document.getElementById('save-btn').disabled = true
                        } else {
                            document.querySelector('.alert_success').style.display = 'block'
                             document.querySelector('.alert_error').style.display = 'none'
                             document.getElementById('save-btn').disabled = false
                        }}
                    ).catch(error => console.error('Error', error))
            } else {
                document.querySelector('.alert_error').style.display = 'none'
                document.querySelector('.alert_success').style.display = 'none'
                document.getElementById('save-btn').disabled = true
            }
        }



    function checkExist(){
        category_id = document.querySelector('input[name="category_id"]').value;

        if (category_id){
            fetch(`/api/check_category_id/` + category_id)
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        document.querySelector('#alertExist').innerHTML = `<i class="fa-solid fa-circle-xmark mr-2 text-danger"></i><p class='text-danger'>Mã danh mục đã tồn tại</p>`
                        document.querySelector('#createButton').disabled = true
                    } else {
                        document.querySelector('#alertExist').innerHTML = `<i class="fa-solid fa-circle-check mr-2 text-success"></i> <p class=text-success>Mã danh mục hợp lệ</p>`
                        document.querySelector('#createButton').disabled = false
                    }}
                ).catch(error => console.error('Error', error))
        } else {
            document.querySelector('#alertExist').innerHTML = ''
            document.querySelector('#createButton').disabled = true
        }
    }
    </script>

{% endblock %}