{% extends 'admin/index.html' %}

{% block body %}

<br>
<br>
<div style="border: 2px solid black; padding:20px"
     id="delivery-product-form" >
    <div class="row d-flex justify-content-between">
        <div>
             <h4> <b>ANNNPTT electronics </b></h4>
             <p> 273 An Dương Vương, Phường 3, Quận 5, TP Hồ Chí Minh</p>
        </div>
        <div class="text-right">
             <h4 class="text-center"> <b>Mẫu số 01-VT </b></h4>
            <p class="text-center"> (Ban hành theo Thông tư số 200/2014/TT-BTC </p>
            <p class="text-left"> Ngày 22/12/2014 của Bộ Tài chính )</p>
        </div>
    </div>


    <h1 class="text-center text-dark mt-5"><b>Phiếu xuất kho </b> </h1>
        <h5 class="text-center text-dark"> <i>{{ now.strftime('Ngày %d tháng %m năm %Y') }}</i></h5>
        <h5 class="text-center text-dark mb-4"><b> Số: {{ delivery_code }} </b></h5>


    {% if receipt.exported==True %}
    <form action="{{ url_for('goods_delivery.update_delivery_note', receipt_id = receipt.id, delivery_code=delivery_code) }}" method="POST">
    {% elif receipt.exported==False %}
     <form action="{{ url_for('receipt.create_delivery_note', receipt_id = receipt.id, delivery_code=delivery_code) }}" method="POST">
    {% endif %}
        <div class="form-group form-inline row">
            <div class="form-inline col-5">
                <label>Họ và tên người nhận hàng: </label>
                {% if receipt %}
                    <input type="text"
                           readonly
                           class="form-control ml-1 w-25"
                           value="{{ receipt.customer_name }}">
                {% elif receipt %}
                    <input type="text"
                           readonly
                           class="form-control ml-1 w-25"
                           value="{{ receipt.customer_name }}">
                {% endif %}
            </div>

             <div class="form-inline col-7">
                <label>Địa chỉ (bộ phận): </label>
                 <input type="text"
                        readonly
                        class="form-control w-100"
                        name="delivery_address"
                        value="{{ receipt.delivery_address }}">

            </div>
        </div>

        {% if delivery_reasons %}
        <div class="form-group form-inline">
            <label>Lý do xuất kho: </label>
            <select class="form-control ml-3 custom-select"
                    name="delivery_reason" >
                <option value="1" selected>Xuất bán</option>
                <option value="2">Bảo trì sữa chữa</option>
                <option value="3">Khuyến mãi tặng quà</option>
                <option value="4">Bảo hành đổi trả sản phẩm</option>
            </select>
        </div>
        {% else %}
        <div class="form-group form-inline">
            <label>Lý do xuất kho: </label>
            <select class="form-control ml-3 custom-select"
                    name="delivery_reason" >
                <option value="1" selected>Xuất bán</option>
                <option value="2">Bảo trì sữa chữa</option>
                <option value="3">Khuyến mãi tặng quà</option>
                <option value="4">Bảo hành đổi trả sản phẩm</option>
            </select>
        </div>
        {% endif %}

        <div class="form-group form-inline">
            <div class="form-inline">
                <label>Xuất tại kho (ngăn lô):  </label>
                <input type="text" class="border border-0" value="Hàng Hóa">
            </div>
            <div class="form-inline">
                <label class="ml-5">Địa điểm:  273 An Dương Vương, Phường 3, Quận 5, TP Hồ Chí Minh</label>
            </div>
        </div>

        <table class="table table-bordered text-center">
          <thead>
                <tr style="background-color:lightyellow;">
                  <th scope="col" rowspan="2">STT</th>
                  <th scope="col" rowspan="2">Tên sản phẩm</th>
                  <th scope="col" rowspan="2">Mã số</th>
                  <th scope="col" rowspan="2">Đơn vị tính</th>
                  <th scope="col" colspan="2">Số lượng </th>
                  <th scope="col" rowspan="2">Đơn giá</th>
                  <th scope="col" rowspan="2">Thành tiền</th>
                    <th scope="col" rowspan="2"> Ghi chú </th>
                </tr>
                <tr>
                        <td  style="background-color:lightyellow; font-weight:bold;">Yêu cầu</td>
                        <td  style="background-color:lightyellow; font-weight:bold">Thực xuất</td>
                </tr>
          </thead>
          <tbody>
          {% if receipt_details %}
              {% for r in receipt_details %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>{{ r.product_name }}</td>
                  <td>
                      <input type="text"
                             readonly
                             name="product_id_{{r.product_id}}"
                             value="{{ r.product_id }}"
                             class="form-control text-center">
                      </td>
                  <td>Cái</td>
                  <td>
                      <input type="text"
                             readonly
                             class="form-control text-center"
                             name="base_quantity_{{ r.product_id }}"
                             value="{{ r.quantity }}">
                  </td>
                    <td>
                        {% if receipt.exported==True %}
                            {% if r.delivered_quantity %}
                             <input type="number"
                                   class="form-control"
                                   name="quantity_{{ r.product_id }}"
                                   value="{{ r.delivered_quantity }}">
                            {% elif receipt.exported==False %}
                            <input type="number"
                                   class="form-control"
                                   name="quantity_{{ r.product_id }}"
                                   placeholder="Nhập số lượng thực xuất" required>
                            {% endif %}
                        {% else %}
                            <input type="number"
                                   class="form-control"
                                   name="quantity_{{ r.product_id }}"
                                   placeholder="Nhập số lượng thực xuất" required>
                        {% endif %}

                    </td>
                    {% if receipt.exported == True %}
                        <td>{{ "{:,.0f}".format(r.unit_price) }}đ</td>
                        {% set quantity = r.delivered_quantity | int %}
                        {% set price = r.unit_price | float %}
                        <td>{{ "{:,.0f}".format(quantity * price) }}đ</td>
                        <td>
                            <input name="note_{{ r.product_id }}" class="form-control">
                        </td>
                    {% elif receipt.exported == False %}
                        <td>{{ "{:,.0f}".format(r.unit_price) }}đ</td>
                        {% set quantity = r.quantity | int %}
                        {% set price = r.unit_price | float %}
                        <td>{{ "{:,.0f}".format(quantity * price) }}đ</td>
                        <td>
                            <input name="note_{{ r.product_id }}" class="form-control">
                        </td>
                    {% endif %}
                </tr>
              {% endfor %}


          <tr class="font-weight-bold" style="background-color: lightgreen">
                    <th scope="row"></th>
                    <td>Cộng</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>{{  "{:,.0f}".format(total_price) }}đ</td>
                    <td></td>
                </tr>
          {% else %}
          {% if delivery_details %}
              {% for d in delivery_details %}
                    <tr>
                      <th scope="row">{{ loop.index }}</th>
                      <td>{{ d.product_name }}</td>
                      <td>
                          <input type="text"
                                 readonly
                                 name="product_id_{{d.product_id}}"
                                 value="{{ d.product_id }}"
                                 class="form-control text-center">
                          </td>
                      <td>Cái</td>
                      <td>
                          <input type="text"
                                 readonly
                                 class="form-control text-center"
                                 name="base_quantity_{{ d.product_id }}"
                                 value="{{ d.quantity }}">
                      </td>
                        <td>


                                 <input type="number"
                                       class="form-control"
                                       name="quantity_{{ d.product_id }}"
                                       {% if d.delivered_quantity %}
                                       value= "{{ d.delivered_quantity }}"
                                       {% else %}
                                       value=""
                                        {% endif %}
                                       placeholder="Nhập số lượng thực xuất"
                                        onchange="fullCheck()">

                        </td>
                            <td>{{ "{:,.0f}".format(d.product_price) }}đ</td>
                            {% set quantity = d.delivered_quantity | int %}
                            {% set price = d.product_price | float %}
                            <td>{{ "{:,.0f}".format(quantity * price) }}đ</td>
                            <td>
                                <input name="note_{{ d.product_id }}" class="form-control">
                            </td>
                    </tr>
              {% endfor %}
          <tr class="font-weight-bold" style="background-color: lightgreen">
                    <th scope="row"></th>
                    <td>Cộng</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>{{  "{:,.0f}".format(total_price) }}đ
                        <p class="text-danger">({{ "{:,.0f}".format(total_price2 - total_price) }}đ)</p></td>
                    <td></td>
                </tr>
          {% else %}
          <h1 class="text-center text-danger"> NOT FOUND 404</h1>
          {% endif %}

          {% endif %}
          </tbody>
        </table>

        <br>
        <p>Tổng số tiền (<i>Viết bằng chữ</i>): {{ total_in_words }} </p>
        <p>Số chứng từ gốc kèm theo: 01 HĐ GTGT số 0000256</p>

        <br>
        <div class="row d-flex justify-content-around">
            <div class="form-group ml-3 text-center mt-5">
                <label> <b>Người lập phiếu </b></label>
                <p><i>(Ký, họ tên )</i></p>
                <p>{{ current_user.name }}</p>
            </div>
            <div class="form-group ml-3 text-center mt-5">
                <label> <b>Người nhận hàng </b></label>
                <p><i>(Ký, họ tên )</i></p>
            </div>
            <div class="form-group ml-3 text-center mt-5">
                <label> <b>Thủ kho</b></label>
                <p><i>(Ký, họ tên )</i></p>
                <p>
                    <input type="text" class="form-control">
                </p>
            </div>
            <div class="form-group ml-3 text-center mt-2">
                <p><i>{{ now.strftime('Ngày %d tháng %m năm %Y') }}</i></p>
                <label> <b>Giám đốc</b></label>
                <p><i>(Ký, họ tên, đóng dấu )</i></p>
                <p>
                    <input type="text" class="form-control">
                </p>
            </div>
        </div>
        {% if receipt.exported==True %}
            {% if delivery_note.confirmed == False %}
            <button  class="btn btn-primary"
                     type="submit">
                    <i class="fa-solid fa-file-circle-check"></i>
                    <b>Cập nhật phiếu xuất kho</b>
            </button>
            <button  formaction="{{ url_for('goods_delivery.confirm_delivery_note', receipt_id = receipt.id, delivery_code=delivery_code) }}"
                     formmethod="post"
                     class="btn btn-warning"
                     type="button"
                     data-toggle="modal"
                     data-target="#confirmModal"
                     onclick="lastCheck()">
                    <i class="fa-solid fa-file-circle-check"></i>
                    <b>Xác nhận phiếu xuất kho</b>
            </button>
            {% elif delivery_note.confirmed == True %}
            {% endif %}
            <a href="{{ url_for('goods_delivery.index') }}"
               class="btn btn-dark text-light">
                <i class="fa-solid fa-right-from-bracket"></i>
                <b>Quay lại</b>
            </a>
        {% elif receipt.exported==False %}
            <button type="submit"
                    class="btn btn-dark text-light">
                    <i class="fa-solid fa-folder-plus"></i>
                    <b>Tạo phiếu xuất kho</b>
            </button>
            <button class="btn btn-warning"
                    type="submit"
                    data-toggle="modal"
                    data-target="#confirmModal"
                    onclick="lastCheck()">
                    <i class="fa-solid fa-file-circle-check"></i>
                    <b>Tạo & xác nhận phiếu xuất kho</b>
            </button>
             <a      href="{{ url_for('receipt.index') }}"
                    class="btn btn-dark text-light" >
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <b>Quay lại</b>
            </a>
        {% endif %}


         {% if delivery_note.confirmed == False %}
         <div class="alert alert-warning alert-dismissible fade show mt-2"
              id="full-alert"
              role="alert">
              Số lượng các sản phẩm đã đủ<strong>, xác nhận tạo phiếu xuất kho ?</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
         </div>
         {% else %}
         {% endif %}

    </form>
</div>

<br>
<br>
<!-- Modal -->
<form action="" method="POST">
    <div class="modal fade"
         id="confirmModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận phiếu xuất kho</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-danger" role="alert" id="alert">
          </div>


        Bạn có chắc chắn muốn xác nhận phiếu xuất kho với mã:
          {% if receipt.exported==True %}<strong>{{ delivery_note.code }}</strong>  ?
          {% elif receipt.exported==False %} <strong>{{ delivery_code }}</strong>  ?
          {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
        <button type="submit"
                class="btn btn-warning"
                formaction="">
            Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
</form>

<script>

    lastCheck = () =>{
        if ( Check() == false){
            document.querySelector('#alert').style.display = 'block'
            document.querySelector('#alert').innerHTML = "<strong>Có sản phẩm có số lượng thực xuất chưa đủ với số lượng yêu cầu, hãy chắc rằng bạn đã kiểm tra số lượng trước khi tạo phiếu xuất kho nhé !</strong>"
        }
        else {
            document.querySelector('#alert').style.display = 'none'
        }
    }

    fullCheck = () => {
        if ( Check() == true ){
            document.querySelector('#full-alert').style.display='block'
        }
        else {
            document.querySelector('#full-alert').style.display = 'none'
        }
    }

    Check = () =>{
        const baseQuantity = []
        const receivedQuantity = []
           document.querySelectorAll('input[name^="base_quantity_"]').forEach(input =>{
                if (input.value > 0){
                    baseQuantity.push(input.value)
                }}
           )
           document.querySelectorAll('input[name^="quantity_"]').forEach(input =>{
            if (input.value > 0){
                receivedQuantity.push(input.value)
            }}
       )

        if ( baseQuantity.length !== receivedQuantity.length )
            return false

        for ( let i = 0; i < baseQuantity.length; i++){
            if (baseQuantity[i] != receivedQuantity[i]){
                return false
            }
        }

        return true
    }

    fullCheck()


</script>
{% endblock %}

