{% extends 'admin/base.html '%}

{% block body %}
<h1 class="text-center text-dark mt-4"> Quản lý xuất kho  </h1>

<br>
<hr>


  <form class="form-inline my-2 my-lg-0">
      <input class="form-control w-25 mr-2"
             type="search"
             placeholder="Tìm mã phiếu nhập"
             aria-label="Search"
             name="delivery_note_code">
      <input class="form-control w-25 mr-2"
             type="search"
             placeholder="Tìm theo mã người giao"
             aria-label="Search"
             name="delivery_man_id">
      <select class="form-control w-25" name="confirmed">
          Tình trạng
          <option value="" selected>Tình trạng</option>

          <option value="True">Đã xác nhận</option>
          <option value="False">Chưa xác nhận</option>
      </select>

      <select class="form-control w-25 mr-2 mt-2" name="asc">
          <option value="" selected>Sắp xếp theo</option>
          <option value="True">Mới nhất</option>
          <option value="False">Cũ nhất</option>
      </select>
      <select class="form-control w-25 mr-2 mt-2" name="delivery_reason">
          <option value="" selected>Lý do xuất kho</option>
          {% for d in delivery_reason %}
          <option value="{{ d.id }}">{{ d.name }}</option>
          {% endfor %}
      </select>

      <button class="btn btn-outline-dark mt-2 w-75 font-weight-bold"
              type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
          Tìm kiếm</button>
    </form>
    <hr>

  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">Mã phiếu xuất kho</th>
        <th scope="col">Ngày lập phiếu</th>
        <th scope="col">Lý do xuất</th>
        <th scope="col">Người lập phiếu</th>
          <th scope="col">Tình trạng</th>
          <th scope="col">Địa chỉ giao</th>
          <th scope="col">Mã người giao hàng</th>
          <th scope="col"> Tổng giá trị xuất kho</th>
          <th scope="col"> Phiếu xuất kho</th>
      </tr>

    </thead>
    <tbody>
            {% for d in delivery_notes %}
             <tr class="text-center">
                 <th scope="row">{{ d[0].code}}</th>
                 <td>{{ d[0].created_date.strftime('%d/%m/%y %H:%M:%S') }}</td>
                 <td style="width:120px">{{ d.delivery_reason }}</td>
                 <td>{{ d[0].user_created }}</td>
                 {% if d[0].confirmed %}
                    <td>
                        <input type="text"
                               value="Đã xác nhận"
                               class="form-control btn btn-success status-btn"
                               style="width: 200px;">
                    </td>
                 {% else %}
                    <td>
                        <input type="text"
                               value="Chưa xác nhận"
                               class="form-control btn btn-warning status-btn"
                               style="width: 200px;">
                    </td>
                 {% endif %}
                 <td>{{ d[0].delivery_address}}</td>
                 <td>{{ d[0].delivery_man}}</td>
                 <td>{{ "{:,.0f}".format(d[0].total_price) }}đ</td>
                 <td>
                     <a href="{{ url_for('goods_delivery.view_delivery_note', delivery_code=d[0].code, receipt_id=d[0].for_receipt_id) }}"
                        class="btn btn-dark text-white">
                         <i class="fa-regular fa-rectangle-list"></i>
                         Xem phiếu xuất kho
                     </a>
                 </td>
              </tr>
            {% endfor %}

    </tbody>
  </table>

            {% if pages > 1 %}
                <div class="container d-flex justify-content-around" >
                    <ul class="pagination " style="color:black">
                        {% if prev_page %}
                        <li class="page-item "><a class="page-link border-0" href="{{ prev_page }}">Sau</a></li>
                        {% endif %}
                            {% for idx in range(1, pages+1) %}
                                <li class="page-item">
                                    <a class="page-link border-0"
                                       href="{{url_for('goods_delivery.index',
                                                        page=idx,
                                                        confirmed=request.args.get('confirmed'),
                                                        asc=request.args.get('asc'),
                                                        delivery_note=request.args.get('delivery_note_code'),
                                                        reason = request.args.get('delivery_reason'),
                                                        delivery_man_id = request.args.get('delivery_man_id')) }}">
                                        {{idx}}
                                    </a>
                                </li>
                            {% endfor %}
                        {% if next_page %}
                        <li class="page-item"><a class="page-link border-0" href="{{ next_page }}">Trước</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}

            {% endif %}

<script src="https://kit.fontawesome.com/577b2b59fe.js" crossorigin="anonymous"></script>
{% endblock %}