{% extends 'admin/base.html '%}

{% block body %}
<h1 class="text-center text-dark mt-4"> Quản lý xuất kho  </h1>

<br>
<hr>


  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Tìm mã phiếu nhập" aria-label="Search" name="delivery_note_code">
      <select class="form-control mr-sm-2" name="confirmed">
          Tình trạng
          <option value="" selected>Tình trạng</option>

          <option value="True">Đã xác nhận</option>
          <option value="False">Chưa xác nhận</option>
      </select>

      <select class="form-control mr-sm-2" name="asc">
          <option value="" selected>Sắp xếp theo</option>
          <option value="True">Mới nhất</option>
          <option value="False">Cũ nhất</option>
      </select>
      <select class="form-control mr-sm-2" name="delivery_reason">
          <option value="" selected>Lý do xuất kho</option>
          {% for d in delivery_reason %}
          <option value="{{ d.id }}">{{ d.name }}</option>
          {% endfor %}
      </select>

      <input class="form-control mr-sm-2" type="search" placeholder="Tìm theo mã người giao" aria-label="Search" name="delivery_man_id">

      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Tìm kiếm</button>
    </form>
    <hr>

  <table class="table table-hover ">
    <thead class="thead-light">
      <tr class="text-center">
        <th scope="col">Mã phiếu xuất kho</th>
        <th scope="col">Ngày lập phiếu</th>
        <th scope="col">Lý do xuất</th>
        <th scope="col">Người lập phiếu</th>
          <th scope="col">Tình trạng</th>
          <th scope="col">Địa chỉ giao</th>
          <th scope="col">Mã người giao hàng</th>
          <th scope="col"> Tổng giá trị xuất kho</th>
          <th scope="col"> Phiếu xuất kho</th>
      </tr>

    </thead>
    <tbody>
            {% for d in delivery_notes %}
             <tr class="text-center">
                 <th scope="row"></th>
                 <td>{{ d[0].code}}</td>
                 <td>{{ d[0].created_date}}</td>
                 <td>{{ d.delivery_reason }}</td>
                 <td>{{ d[0].user_created }}</td>
                 {% if d[0].confirmed %}
                    <td>Đã xác nhận </td>
                 {% else %}
                    <td>Chưa xác nhận </td>
                 {% endif %}
                 <td>{{ d[0].delivery_address}}</td>
                 <td>{{ d[0].delivery_man}}</td>
                 <td>{{ "{:,.0f}".format(g[0].total_price) }}đ</td>
                 <td>
                     <a href=""
                        class="btn btn-dark text-white">
                         <i class="fa-regular fa-rectangle-list"></i>
                         Xem phiếu xuất kho
                     </a>
                 </td>
              </tr>
            {% endfor %}

    </tbody>
  </table>

<script src="https://kit.fontawesome.com/577b2b59fe.js" crossorigin="anonymous"></script>
{% endblock %}