{% extends 'admin/base.html' %}

{% block body %}

    {% if current_user.is_authenticated %}
    <div class="container-fluid"
         id="admin-container">
    <h1 class="text-center text-dark mt-4 mb-2"> Hệ thống quản lý </h1>
        <hr>

        <div class="d-flex flex-row justify-content-around">
            <div class="dashboard-info border text-center pt-3 row text-light bg-danger">
                <div class="col-9">
                    <p style="font-size: 24px; font-weight: bold" >
                        {{ "{:,.0f}".format(total_revenue) }}đ
                    </p>
                    <div>
                        Tổng doanh thu
                    </div>
                </div>
                <div class="col-3">
                    <i class="fa-solid fa-signal mt-4"
                       style="font-size: 28px;"></i>
                </div>
            </div>

            <div class="dashboard-info border text-center pt-3 row text-dark bg-warning">
                <div class="col-9">
                    <p style="font-size: 24px; font-weight: bold">
                        {{ total_check }}
                    </p>
                    Số lượt mua
                </div>
                <div class="col-3">
                    <i class="fa-solid fa-file-invoice-dollar mt-4"
                       style="font-size: 28px;"></i>
                </div>
            </div>

            <div class="dashboard-info border text-center pt-3 row text-light bg-success">
                <div class="col-9">
                    <p style="font-size: 24px;font-weight: bold">
                        {{ complete_receipt }}
                    </p>
                    Đơn hàng hoàn thành
                </div>
                <div class="col-3">
                    <i class="fa-solid fa-check-to-slot mt-4"
                       style="font-size: 28px;"></i>
                </div>
            </div>

            <div class="dashboard-info border text-center pt-3 row text-light bg-info"">
                <div class="col-9">
                    <p style="font-size: 24px;font-weight: bold">
                        {{ total_customer }}
                    </p>
                    Số thành viên
                </div>
                <div class="col-3">
                    <i class="fa-solid fa-users mt-4"
                       style="font-size: 28px;"></i>
                </div>
            </div>


        </div>
        <br><br>

        <div class="report-stats row">
            <div class="sales-report ml-3 col-lg-8">
                <div class="chart-header text-left text-light bg-dark border-bottom">
                    Báo cáo doanh thu
                </div>
                <canvas id="salesChart">
                </canvas>
            </div>

            <div class="users-report col-lg-3"
                 style="margin-left: 68px;"   >
                <div class="chart-header text-center text-light bg-secondary border-bottom">
                    Thống kê khách hàng
                </div>
                <canvas id="usersChart">
                </canvas>
            </div>
        </div>
        <br><br>


    {% else %}

    <div class="container w-75 border border-dark mt-5 p-4 rounded">
        <h2 class="text-center text-dark mt-4">ĐĂNG NHẬP QUẢN TRỊ</h2>

            {% if err_msg %}
            <h2 class="text-center">{{err_msg}}</h2>
            {% else %}
                <form method="post"
                      action="{{url_for('signin_admin')}}"
                      id="signinForm">
                        <div class="form-group">
                            <label for="username" >Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="pass" >Mật khẩu</label>
                            <input type="password" class="form-control" id="pass" name="password" required>
                        </div>
                        <input type="submit"
                               value="Đăng nhập"
                               class="btn btn-dark text-light mr-2">
                        <a href="/admin/forgot-password"
                           class="btn btn-primary text-light"
                           style="font-size: 20px;">
                           Quên mật khẩu
                        </a>
                </form>
            </div>
    </div>
            {% endif %}
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        const months = ["Tháng 1","Tháng 2","Tháng 3","Tháng 4","Tháng 5","Tháng 6","Tháng 7","Tháng 8","Tháng 9","Tháng 10","Tháng 11","Tháng 12"];
        const months_sale = [];
        const months_sale_ly = [];
        const months_profit = [];

        const barColor1 = 'rgb(228, 76, 76)'
        const barColor2 = 'rgb(76, 102, 228)'
        const barColor3 = 'rgb(76, 228, 101)'
        doughnutColor = ['rgb(228, 76, 76)',
         'rgb(228, 76, 162)',
          'rgb(127, 76, 228)',
           'rgb(228, 167, 76)',
            'rgb(200, 228, 76)',
             'rgb(76, 228, 104)',
              'rgb(76, 228, 217)',
               'rgb(6, 2, 112)',
                'rgb(223, 197, 123)',
                 'rgb(141, 111, 100)',
                  'rgb(212, 195, 254)',
                   'rgb(107, 1, 2)']


        {% for month in sale_month_stats %}
            months_sale.push({{ month[1] }});
        {% endfor %}

        {% for month in sale_month_stats_ly %}
            months_sale_ly.push({{ month[1] }});
        {% endfor %}

        {% for month in profit_month_stats %}
            months_profit.push({{ month[1] }})
        {% endfor %}

        const months_2 = []
        const customers_count = []
        {% for count in customer_month_stats %}
            {% if count[1] %}
                months_2.push( 'Tháng ' + '{{ count[0] }}')
                customers_count.push( {{ count[1] }} )
            {% endif %}
        {% endfor %}



        const ctx = document.getElementById('salesChart');
        const mixedChart = new Chart(ctx, {
            data: {
                datasets: [
                 {
                    type: 'bar',
                    label: 'Doanh thu năm trước',
                    data: months_sale_ly,
                    order: 1,
                    backgroundColor: barColor2
                },{
                    type: 'bar',
                    label: 'Doanh thu tháng này',
                    data: months_sale,
                    order: 1,
                    backgroundColor: barColor1
                }, {
                    type: 'bar',
                    label: 'Lợi nhuận',
                    data: months_profit,
                    order: 1,
                    backgroundColor: barColor3
                }],
                labels: months
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            // Format y-axis labels with 'đ'
                            callback: function(value) {
                                return value.toLocaleString('vi-VN') + 'đ';
                            }
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                let label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += context.raw.toLocaleString('vi-VN') + 'đ';
                                return label;
                            }
                        }
                    }
                }
            }
        });


        const ctx2 = document.getElementById('usersChart');
        new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: months_2,
                datasets: [{
                    label: 'Số khách hàng',
                    data: customers_count,
                    backgroundColor: doughnutColor
                }]
            },
            options: {
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                let label = context.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += context.raw + ' người';
                                return label;
                            }
                        }
                    }
                }
            }
        });


    </script>
{% endblock %}