{% extends 'admin/base.html' %}


{% block body %}

    {% if receipt_details %}
    <h1 class="text-center text-dark mt-4"> Thông tin chi tiết hóa đơn</h1>
    <br>
    <hr>

            <h2>Mã hóa đơn: {{ receipt_id }}</h2>
            <form id="receipt_detail_form" class="mb-5">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                         <div class="form-group">
                            <label><b>Mã người dùng: </b></label>
                            <input readonly type="text" class="form-control" value =" {{ receipts[0].customer_id }}" name="customer_name">
                        </div>
                        <div class="form-group">
                            <label><b>Tên khách hàng:</b></label>
                            <div class="d-flex">
                                <input readonly type="text"
                                   class="form-control w-75 mr-2"
                                   value =" {{ receipts[0].customer_name }}"
                                   name="customer_name">
                                <a href="{{ url_for('user_admin.user_detail', user_id = receipts[0].customer_id, url='receipt', receipt_id = receipt_id) }}"
                                   class="btn btn-dark form-control w-25">
                                    <i class="fa-solid fa-list"></i>
                                   Thông tin khách hàng
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label><b>Ngày mua:</b></label>
                            <input readonly type="text" class="form-control" value =" {{ receipts[0].created_date.strftime('%d/%m/%Y - %H:%M:%S') }}" name="created_date">
                        </div>

                        <div class="form-group">
                            <label><b>Phương thức thanh toán:</b></label>
                            <input readonly type="text"
                                   class="form-control"
                                   value =" {{ receipts[0].payment_name }}"
                                   name="payment_name">

                        </div>

                        <div class="form-group">
                            <label><b>Tình trạng đơn hàng:</b></label>
                            <input type="text"
                                   class="form-control {{ status_colors[receipts[0].status_id] }} w-25 text-center"
                                   value ="{{ receipts[0].status_name }}"
                                   name="status_name">
                        </div>
                    </div>


                    <div class="col-md-12 col-xs-12 mt-5 text-center">
                         <h2 class="mb-3">Sản phẩm đã thanh toán</h2>



                        <table class="table table-hover">
                          <thead>
                            <tr class="text-center">
                              <th scope="col">STT</th>
                              <th scope="col">Mã sản phẩm</th>
                              <th scope="col">Tên sản phẩm</th>
                              <th scope="col">Số lượng</th>
                              <th scope="col">Đơn giá</th>
                              <th scope="col">Khuyến mãi áp dụng</th>
                              <th scope="col">Bảo hành</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for r in receipt_details %}
                            <tr class="text-center">
                              <th scope="row">{{loop.index}}</th>
                              <td>{{r.product_id}}</td>
                              <td>{{r.product_name}}</td>
                              <td>{{r.quantity}}</td>
                              <td>{{ "{:,.0f}".format(r.unit_price) }}đ</td>
                               <td>{% if r.discount_info %}
                                     <p class="text-danger font-weight-bold">{{ r.discount_info }}</p>
                                  {% else %}
                                    không có
                                  {% endif %}
                              </td>
                              <td>
                                  {% if r.on_warranty %}
                                    <button class="btn btn-success">
                                        Còn hiệu lực
                                    </button>
                                    <p class="text-danger font-weight-bold">( {{ r.warranty_period }} {{ r.time_unit.value }} )</p>
                                  {% else %}
                                    {% if r.warranty_period %}
                                    <button class="btn btn-danger">
                                        Đã quá hạn
                                    </button>
                                    <p class="text-danger font-weight-bold">( {{ r.warranty_period }} {{ r.time_unit.value }} )</p>
                                    {% else %}
                                    <p class="text-danger font-weight-bold">Không có bảo hành</p>
                                    {% endif %}
                                  {% endif %}
                              </td>
                            </tr>
                           {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
        </form>
                <div class="form-group form-inline" id="total_price">
                    <label> <b>Tổng giá trị hóa đơn </b></label>
                    <button type="button"
                            class="form-control"
                            style="font-size:24px;">
                        <b>{{ "{:,.0f}".format(total_price) }}đ</b>
                    </button>
                </div>
                <hr>

                {% if next_url %}
                <a class="btn btn-dark"
                   style="font-size: 24px;"
                   href="{{ next_url }}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Quay lại
                </a>
                {% else %}
                <a class="btn btn-dark"
                   style="font-size: 24px;"
                   href="{{ url_for('receipt.index') }}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Quay lại
                </a>
                {% endif %}
                <br><br>
    {% else %}

    <!--REPORT MODAL-->
    <div class="container">
    {% for r in receipts %}
        {% if r.status_id == 3 %}

        <div class="modal fade" id="reportModal_{{ r.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="">Thông tin hỗ trợ</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                <form action="">
                  <div class="modal-body">
                    {% for rp in receipts_report %}
                            {% if rp.receipt_report==r.id and rp.description %}
                            <div class="form-group form-inline">
                                <h5 class="mr-5"><b>#{{ loop.index }}</b></h5>
                                <h5 class="ml-5">
                                    {% if rp.created_date %}
                                        <b>Thời gian: {{ rp.created_date.strftime('%d/%m/%Y - %H:%M:%S') }}</b>
                                    {% else %}
                                        <b>Không có ngày</b>
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="form-group form-inline">
                                <label><b>Hỗ trợ vấn đề: </b></label>
                                <input class="form-control ml-2" readonly value="{{ report_types[rp.report_type -1].name }}" >
                            </div>
                            <div class="form-group">
                                <label><b>Nội dung: </b></label>
                                <input class="form-control" value="{{ rp.description }}">
                            </div>
                      <br>
                      <hr>
                            {% endif %}
                      {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <a href="{{ url_for('receipt.receipt_detail_view', receipt_id = r.id) }}"
                                            class="btn btn-secondary"><i class="fa-solid fa-list-ul"></i> Xem chi tiết </a>
                      <a href="{{ url_for('receipt.receipt_report_confirm', receipt_id=r.id) }}"
                         class="btn btn-warning font-bold">
                          <i class="fa-solid fa-circle-check"></i>
                          Đánh dấu là đã hoàn thành
                      </a>
                  </div>
                </form>
            </div>
          </div>
        </div>
        {% else %}

        {% endif %}
    {% endfor %}
    </div>




<h1 class="text-center text-dark mt-4"> Thông tin & lịch sử hóa đơn </h1>
<br>
<hr>

    {% if receipts %}
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Nhập mã đơn hàng" aria-label="Search" name="receipt_id">
          <select class="form-control mr-sm-2" name="status_id">
              Tình trạng đơn hàng
              <option value="" selected>Tình trạng đơn hàng</option>
                {% for r in receipt_status %}
                    <option value="{{ r.id }}">{{ r.status_name }}</option>
                {% endfor %}
          </select>

          <select class="form-control mr-sm-2" name="asc">
              <option value="" selected>Sắp xếp theo</option>
              <option value="True">Mới nhất</option>
              <option value="False">Cũ nhất</option>
          </select>

          <button class="btn btn-outline-dark my-2 my-sm-0"
                  type="submit">
               <i class="fa-solid fa-magnifying-glass"></i>
              Tìm kiếm
          </button>
        </form>
        <hr>

      <table class="table table-bordered table-hover ">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Ngày mua</th>
            <th scope="col">Tên khách hàng</th>
            <th scope="col">Phương thức thanh toán</th>
            <th scope="col">Trạng thái đơn hàng</th>
              <th scope="col">Chính sửa</th>
              <th scope="col"> Xem chi tiết</th>
          </tr>
        </thead>
        <tbody>
         {% for r in receipts %}
            {% if r.id and r.status_id %}
                 <tr class="text-center">
                    <th scope="row">{{ r.id }}</th>
                    <td>{{ r.created_date.strftime('%d/%m/%Y - %H:%M:%S') }}</td>
                    <td> {{ r.customer_name }}</td>
                    <td>{{ r.payment_name }}</td>
                     {% if r.status_id == 3 %}
                        <td>
                            <a data-trigger="hover"
                                   data-toggle="popover"
                                   data-content="Đơn hàng cần được hỗ trợ !"
                                   data-placement="top">
                                <button type="button"
                                        class="btn {{ status_colors[r.status_id] }} status-btn"
                                        data-toggle="modal"
                                        data-target="#reportModal_{{ r.id }}">
                                    {{ r.status_name}}
                                </button>
                            </a>

                        </td>
                     {% elif r.status_id == 6 %}
                        <td>
                            {% if r.exported==True %}
                            <a href="{{ url_for('goods_delivery.view_delivery_note_by_id', receipt_id = r.id) }}"
                               class="btn {{ status_colors[r.status_id] }} status-btn"
                               data-trigger="hover"
                               data-toggle="popover"
                               data-content="Đơn hàng cần được xác nhận xuất kho !"
                               data-placement="top">
                                {{ r.status_name }}
                            </a>
                            {% elif r.exported==False %}
                             <a href="{{ url_for('receipt.receipt_detail_update', receipt_id = r.id) }}"
                               class="btn {{ status_colors[r.status_id] }} status-btn"
                               data-trigger="hover"
                               data-toggle="popover"
                               data-content="Đơn hàng cần được xác nhận xuất kho !"
                               data-placement="top">
                                {{ r.status_name}}
                            </a>
                            {% endif %}
                        </td>

                     {% else %}
                        <td>
                            <button class="btn {{ status_colors[r.status_id] }} status-btn">{{ r.status_name}}</button>
                        </td>
                     {% endif %}
                    <td>
                        <a href="{{ url_for('receipt.receipt_detail_update', receipt_id = r.id) }}"
                                    class="btn btn-secondary"> <i class="fa-solid fa-pencil"></i></a>
                    </td>
                     <td><a href="{{ url_for('receipt.receipt_detail_view', receipt_id = r.id) }}"
                                    class="btn btn-secondary"><i class="fa-solid fa-magnifying-glass"></i></a>
                     </td>
                  </tr>
            {% endif %}
         {% endfor %}
        </tbody>
      </table>

    <!--Pagination-->
        {% if pages > 1 %}
                <div class="container d-flex justify-content-around" >
                    <ul class="pagination " style="color:black">
                        {% if prev_page %}
                        <li class="page-item "><a class="page-link border-0" href="{{ prev_page }}">Sau</a></li>
                        {% endif %}
                            {% for idx in range(1, pages+1) %}
                                <li class="page-item">
                                    <a class="page-link border-0"
                                       href="{{ url_for('receipt.index',
                                                         page=idx,
                                                         status_id=request.args.get('status_id'),
                                                         asc=request.args.get('asc')) }}">
                                        {{idx}}
                                    </a>
                                </li>
                            {% endfor %}
                        {% if next_page %}
                        <li class="page-item"><a class="page-link border-0" href="{{ next_page }}">Trước</a></li>
                        {% endif %}
                    </ul>
                </div>
        {% endif %}
    {% else %}
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Nhập mã đơn hàng" aria-label="Search" name="receipt_id">
          <select class="form-control mr-sm-2" name="status_id">
              Tình trạng đơn hàng
              <option value="" selected>Tình trạng đơn hàng</option>
                {% for r in receipt_status %}
                    <option value="{{ r.id }}">{{ r.status_name }}</option>
                {% endfor %}
          </select>

          <select class="form-control mr-sm-2" name="asc">
              <option value="" selected>Sắp xếp theo</option>
              <option value="True">Mới nhất</option>
              <option value="False">Cũ nhất</option>
          </select>

          <button class="btn btn-outline-dark my-2 my-sm-0"
                  type="submit">
               <i class="fa-solid fa-magnifying-glass"></i>
              Tìm kiếm
          </button>
        </form>
        <hr>

    <div class="alert alert-dark font-weight-bold text-center">
        <h2>Không tìm thấy hóa đơn nào !</h2>
    </div>
    {% endif %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});

</script>
<script src="https://kit.fontawesome.com/577b2b59fe.js" crossorigin="anonymous"></script>

{% endblock %}