{% extends 'admin/base.html' %}

{% block body %}
<h1 class="text-center text-dark mt-4"> Thống kê doanh thu</h1>


<div class="container-fluid">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="text-center bg-dark text-light mt-4 p-2">Doanh thu từng tháng</h3>
            <select name="monthly_revenue"
                    class="custom-select"
                    onchange="load_revenue_by_Year('monthly_revenue','revenue-Monthly-Chart', 'month')">
                <option value="" selected>Năm</option>
                {% for year in years %}
                   <option value="{{year}}">{{ year }}</option>
                {% endfor %}
            </select>
            <canvas id="revenue-Monthly-Chart">
            </canvas>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="text-center bg-dark text-light mt-4 p-2">Doanh thu từng quý</h3>
            <select name="quarterly_revenue"
                    class="custom-select"
                    onchange="load_revenue_by_Year('quarterly_revenue', 'revenue-Quarterly-Chart', 'quarter')">
                <option value="" selected>Năm</option>
                {% for year in years %}
                <option value="{{year}}">{{ year }}</option>
                {% endfor %}
            </select>
            <canvas id="revenue-Quarterly-Chart">
            </canvas>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="text-center bg-dark text-light mt-4 p-2">Doanh thu trung bình tháng trong năm</h3>
            <select name="avg_monthly_revenue"
                    class="custom-select"
                    onchange="load_avg_revenue_by_Year('avg_monthly_revenue','avg-Monthly-Revenue-Chart', 'avg_month')">
                <option value="" selected>Năm</option>
                {% for year in years %}
                   <option value="{{year}}">{{ year }}</option>
                {% endfor %}
            </select>
            <canvas id="avg-Monthly-Revenue-Chart">
            </canvas>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3 class="text-center bg-dark text-light mt-4 p-2">Doanh thu trung bình quý trong năm</h3>
            <select name="avg_quarterly_revenue"
                    class="custom-select"
                    onchange="load_avg_revenue_by_Year('avg_quarterly_revenue','avg-Quarterly-Revenue-Chart', 'avg_quarter')">
                <option value="" selected>Năm</option>
                {% for year in years %}
                   <option value="{{year}}">{{ year }}</option>
                {% endfor %}
            </select>
            <canvas id="avg-Quarterly-Revenue-Chart">
            </canvas>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="text-center bg-dark text-light mt-4 p-2">Doanh thu từng năm</h3>
            <canvas id="revenue-Yearly-Chart">
            </canvas>
        </div>
    </div>

</div>

<br><br><br>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    var yearlyChart, monthlyChart, quarterlyChart

    var revenueChart = {}

    load_Revenue_Data = (api_url) =>{
        fetch(`${api_url}`)
                .then(response => response.json())
                .then(data => {
                    const ctxYearly = document.getElementById(`revenue-Yearly-Chart`).getContext('2d');
                    revenueChart['revenue-Yearly-Chart'] = new Chart(ctxYearly, {
                        type: 'bar',
                        data: {
                            labels: data.years,
                            datasets: [{
                                label: 'Tổng doanh thu',
                                data: data.revenue_yearly,
                                backgroundColor: 'red',
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function(value) {
                                            return value.toLocaleString('vi-VN') + 'đ'
                                        }
                                    }
                                }
                            },
                            plugins: {
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            let label = context.dataset.label || ''
                                            if (label) {
                                                label += ': '
                                            }
                                            label += context.raw.toLocaleString('vi-VN') + 'đ';
                                            return label
                                        }
                                    }
                                }
                            }
                        }
                    })

                    
                    const ctxMonthly = document.getElementById(`revenue-Monthly-Chart`).getContext('2d');
                    revenueChart['revenue-Monthly-Chart'] = new Chart(ctxMonthly, {
                        type: 'bar',
                        data: {
                            labels: data.months,
                            datasets: [{
                                label: 'Tổng doanh thu',
                                data: data.revenue_monthly,
                                backgroundColor: '#4169e1',
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function(value) {
                                            return value.toLocaleString('vi-VN') + 'đ'
                                        }
                                    }
                                }
                            },
                            plugins: {
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            let label = context.dataset.label || ''
                                            if (label) {
                                                label += ': '
                                            }
                                            label += context.raw.toLocaleString('vi-VN') + 'đ';
                                            return label
                                        }
                                    }
                                }
                            }
                        }
                    })


                    const ctxQuarterly = document.getElementById(`revenue-Quarterly-Chart`).getContext('2d');
                    revenueChart['revenue-Quarterly-Chart'] = new Chart(ctxQuarterly, {
                        type: 'bar',
                        data: {
                            labels: data.quarters,
                            datasets: [{
                                label: 'Tổng doanh thu',
                                data: data.revenue_quarterly,
                                backgroundColor: 'green',
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function(value) {
                                            return value.toLocaleString('vi-VN') + 'đ'
                                        }
                                    }
                                }
                            },
                            plugins: {
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            let label = context.dataset.label || ''
                                            if (label) {
                                                label += ': '
                                            }
                                            label += context.raw.toLocaleString('vi-VN') + 'đ';
                                            return label
                                        }
                                    }
                                }
                            }
                        }
                    })

                    const ctxAvgMonthly = document.getElementById(`avg-Monthly-Revenue-Chart`).getContext('2d');
                    revenueChart['avg-Monthly-Revenue-Chart'] = new Chart(ctxAvgMonthly, {
                        type: 'bar',
                        data: {
                            labels: data.avg_months,
                            datasets: [{
                                label: 'Doanh thu trung bình mỗi tháng',
                                data: data.avg_revenue_monthly,
                                backgroundColor: 'purple',
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function(value) {
                                            return value.toLocaleString('vi-VN') + 'đ'
                                        }
                                    }
                                }
                            },
                            plugins: {
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            let label = context.dataset.label || ''
                                            if (label) {
                                                label += ': '
                                            }
                                            label += context.raw.toLocaleString('vi-VN') + 'đ';
                                            return label
                                        }
                                    }
                                }
                            }
                        }
                    })

                    const ctxAvgQuarterly = document.getElementById(`avg-Quarterly-Revenue-Chart`).getContext('2d');
                    revenueChart['avg-Quarterly-Revenue-Chart'] = new Chart(ctxAvgQuarterly, {
                        type: 'bar',
                        data: {
                            labels: data.avg_quarters,
                            datasets: [{
                                label: 'Doanh thu trung bình mỗi quý',
                                data: data.avg_revenue_quarterly,
                                backgroundColor: 'salmon',
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function(value) {
                                            return value.toLocaleString('vi-VN') + 'đ'
                                        }
                                    }
                                }
                            },
                            plugins: {
                                tooltip: {
                                    callbacks: {
                                        label: function(context) {
                                            let label = context.dataset.label || ''
                                            if (label) {
                                                label += ': '
                                            }
                                            label += context.raw.toLocaleString('vi-VN') + 'đ';
                                            return label
                                        }
                                    }
                                }
                            }
                        }
                    })
                })
                .catch(error => console.error('Error fetching revenue data:', error));
    }
    load_Revenue_Data('/revenue-data', )




    load_revenue_by_Year = (select_name, canvas_id, time_unit) => {
        const year = document.querySelector(`select[name='${select_name}']`).value
        fetch('/revenue-data-by-year', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'year': year,
                'time_unit': time_unit
            })
        })
        .then(response => response.json())
        .then(data => {
            const chartCanvas = document.getElementById(canvas_id)
            const ctx = chartCanvas.getContext('2d');
            const chartType = time_unit == 'month' ? 'monthlyChart' : 'quarterlyChart'

            if ( revenueChart[canvas_id] ) revenueChart[canvas_id].destroy();

            const revenueData = time_unit == 'month' ? data.revenue_monthly : data.revenue_quarterly; 

            const labels = time_unit == 'month' ? data.months : data.quarters;

            revenueChart[canvas_id] = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Tổng doanh thu',
                        data: revenueData,
                        backgroundColor: time_unit == 'month' ? '#4169e1' : 'green',
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                callback: function(value) {
                                    return value.toLocaleString('vi-VN') + 'đ'
                                }
                            }
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    let label = context.dataset.label || ''
                                    if (label) {
                                        label += ': '
                                    }
                                    label += context.raw.toLocaleString('vi-VN') + 'đ';
                                    return label
                                }
                            }
                        }
                    }
                }
            })
        })
        .catch(error => console.error('Error fetching revenue data:', error));
    }



    load_avg_revenue_by_Year = (select_name, canvas_id, time_unit) => {
        const year = document.querySelector(`select[name='${select_name}']`).value
        fetch('/revenue-data-by-year', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'year': year,
                'time_unit': time_unit
            })
        })
        .then(response => response.json())
        .then(data => {
            const chartCanvas = document.getElementById(canvas_id)
            const ctx = chartCanvas.getContext('2d');

            if ( revenueChart[canvas_id] ) revenueChart[canvas_id].destroy();

            const revenueData = time_unit == 'avg_month' ? data.avg_revenue_monthly : data.avg_revenue_quarterly;

            const labels = time_unit == 'avg_month' ? data.avg_months : data.avg_quarters;

            revenueChart[canvas_id] = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Daonh thu trung bình',
                        data: revenueData,
                        backgroundColor: time_unit == 'avg_month' ? 'purple' : 'salmon',
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                callback: function(value) {
                                    return value.toLocaleString('vi-VN') + 'đ'
                                }
                            }
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    let label = context.dataset.label || ''
                                    if (label) {
                                        label += ': '
                                    }
                                    label += context.raw.toLocaleString('vi-VN') + 'đ';
                                    return label
                                }
                            }
                        }
                    }
                }
            })
        })
        .catch(error => console.error('Error fetching revenue data:', error));
    }
</script>


{% endblock %}
