{% extends 'admin/base.html' %}


{% block body %}

    {% if not user_detail %}
        <h1 class="text-center text-dark mt-4 mb-5"> Quản lý người dùng </h1>
        <hr>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2"
                     type="search"
                     style="width: 30%"
                     placeholder="Mã người dùng hoặc số điện thoại"
                     aria-label="Search"
                     name="info">
              <select class="form-control mr-sm-2" name="active">
                  Họat động
                  <option value="" selected>Tình trạng</option>

                  <option value="True">Còn hoạt động</option>
                  <option value="False">Ngưng hoạt động</option>
              </select>

              <select class="form-control mr-sm-2" name="asc">
                  <option value="" selected>Sắp xếp theo</option>
                  <option value="True">Vào sớm nhất</option>
                  <option value="False">Vào muộn nhất</option>
              </select>

              <button class="btn btn-outline-dark my-2 my-sm-0"
                      type="submit">
                   <i class="fa-solid fa-magnifying-glass"></i>
                  Tìm kiếm
              </button>
            </form>
            <button style="width: 75%; font-size: 18px;"
                    data-toggle="modal"
                    data-target="#createUserModal"
                    class="btn btn-info mt-2 form-control">
                 <i class="fa-solid fa-plus"></i>
                 Thêm người dùng mới
            </button>
        <hr>

        <table class="table table-hover table-bordered mb-5 user-table">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">STT</th>
                <th scope="col">Mã người dùng</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Tên đăng nhập</th>
                <th scope="col">Email</th>
                <th scope="col"> Hoạt động </th>
                <th scope="col" style="width: 150px;">Ngày vào</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
             {% for user in users %}
                     <tr class="text-center">
                        <th scope="row">{{ page * size - size + loop.index }}</th>
                        <td>{{ user.id }}</td>
                        <td> {{ user.name }}</td>
                        <td> {{ user.username }}</td>
                        <td> {{ user.email }}</td>
                         <td>{% if user.active %}
                                <div class="dropdown">
                                    <button type="button"
                                            class="btn btn-success dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                         <i class="fa-solid fa-check"></i>
                                        Hoạt động
                                    </button>
                                    <div class="dropdown-menu">
                                            <a href="{{ url_for('user_admin.deactive_user', user_id = user.id ) }}"
                                               class="btn btn-secondary dropdown-button">
                                            <i class="fa-solid fa-minus"></i>
                                            Khóa tài khoản
                                        </a>
                                    </div>
                                </div>
                             {% else %}
                                <div class="dropdown">
                                    <button type="button"
                                            class="btn btn-secondary dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                         <i class="fa-solid fa-minus"></i>
                                        Tạm khóa
                                    </button>
                                    <div class="dropdown-menu">
                                            <a href="{{ url_for('user_admin.active_user', user_id = user.id ) }}"
                                               class="btn btn-success dropdown-button">
                                            <i class="fa-solid fa-check"></i>
                                            Hoạt động
                                        </a>
                                    </div>
                                 </div>
                             {% endif %}
                         </td>
                         <td>{{ user.joined_date.strftime(' %d-%m-%Y ') }}</td>
                         <td>
                             <a href="{{ url_for('user_admin.user_detail', user_id = user.id ) }}"
                                class="btn btn-dark">
                                 Xem thông tin
                             </a>
                         </td>
                     </tr>
             {% endfor %}
            </tbody>
        </table>

        {% if pages > 1 %}
                <div class="container d-flex justify-content-around" >
                    <ul class="pagination " style="color:black">
                        {% if prev_page %}
                        <li class="page-item "><a class="page-link border-0" href="{{ prev_page }}">Sau</a></li>
                        {% endif %}
                            {% for idx in range(1, pages+1) %}
                                <li class="page-item">
                                    <a class="page-link border-0"
                                       href="{{ url_for('user_admin.index',
                                                        page=idx,
                                                        active=request.args.get('active'),
                                                        asc=request.args.get('asc')) }}">
                                        {{idx}}
                                    </a>
                                </li>
                            {% endfor %}
                        {% if next_page %}
                        <li class="page-item">
                            <a class="page-link border-0"
                               href="{{ next_page }}">
                                Trước
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
        {% else %}

        {% endif %}

<!--ADD USER MODAL -->
<form action="{{ url_for('user_admin.create_user') }}"
      method="POST"  >
    <div class="modal fade" id="createUserModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title font-weight-bold">Thêm người dùng mới </h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
              <div class="form-group">
                    <label><b>Tên đăng nhập:</b> </label>
                    <input type="text"
                           class="form-control"
                           name="username" >
              </div>
              <div class="form-group">
                    <label><b>Mật khẩu:</b> </label>
                    <input type="text"
                           readonly
                           class="form-control"
                           value="123"
                           name="password" >
              </div>
              <div class="form-group">
                    <label><b>Họ tên:</b> </label>
                    <input type="text"
                           class="form-control"
                           name="fullname" >
              </div>
              <div class="form-group">
                    <label><b>Email:</b> </label>
                    <input type="text"
                           class="form-control"
                           name="email" >
              </div>
              <div class="form-group">
                    <label><b>Số điện thoại</b> ( không bắt buộc ): </label>
                    <input type="text"
                           class="form-control"
                           name="phone_number" >
              </div>
              <div class="form-group">
                    <label><b>Địa chỉ</b> ( không bắt buộc ): </label>
                    <input type="text"
                           class="form-control"
                           name="address" >
              </div>
              <div class="form-group">
                    <label><b>Nhân viên</b></label>
                    <input type="checkbox"
                           class="custom-checkbox p-2"
                           name="staff">
              </div>

          </div>

          <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">
                <i class="fa-solid fa-xmark"></i>
                Đóng
            </button>
            <button type="submit"
                    class="btn btn-warning">
                <i class="fa-solid fa-user-plus"></i>
                Tạo người dùng
            </button>
          </div>

        </div>
      </div>
    </div>
</form>


    {% else %}
        <h1 class="text-center text-dark mt-4 mb-5"> Thông tin người dùng </h1>
        <hr>

        <div class="row rounded-top"
             id="userInfoForm">
            <div class="col-4">
                {% if user.avatar %}
                <img src="{{ user.avatar }}"
                     alt="Ảnh đại diện">
                {% else  %}
                <img src="{{ url_for('static', filename='images/user.png') }}"
                     alt="Ảnh đại diện">
                {% endif %}
                {% if back_url %}
                  <a class="form-control btn btn-dark"
                     style="margin-top:30px;"
                     href="{{ back_url }}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Quay lại
                  </a>
                 {% else %}
                  <a class="form-control btn btn-dark"
                     style="margin-top:30px;"
                     href="{{ url_for('user_admin.index') }}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Quay lại
                  </a>
                {% endif %}
            </div>

            <form class="col-8 row mt-3"
                  action="{{ url_for('user_admin.update_info', user_id = user.id) }}"
                  method="POST">
                <div class="col-6">
                    <h4 class="mb-4 font-weight-bold text-center">
                        Tài khoản
                    </h4>
                    <div class="form-group">
                        <label><b>Mã người dùng:</b> </label>
                        <input type="text"
                               readonly
                               class="form-control text-center"
                               value="{{ user.id }}"
                               name="user_id"
                               data-user-id="{{ user.id }}" >
                    </div>
                    <div class="form-group">
                        <label><b>Tên đăng nhập:</b> </label>
                        <input type="text"
                               class="form-control text-center"
                               value="{{ user.username }}"
                               name="user_username"
                               data-user-username="{{ user.username }}" >
                    </div>
                    <div class="form-group">
                        <label><b>Mật khẩu:</b> </label>
                        <input type="password"
                               readonly
                               class="form-control text-center"
                               value="{{ user.password }}"
                               name="user_password"
                               data-user-password="{{ user.password }}" >
                    </div>
                    <div class="form-group">
                        <label><b>Ngày vào:</b> </label>
                        <input type="text"
                               readonly
                               class="form-control text-center"
                               value="{{ user.joined_date.strftime(' %d/%m/%Y') }}"
                               name="user_joined_date">
                    </div>
                </div>
                <div class="col-6">
                    <h4 class="mb-4 font-weight-bold text-center">
                        Thông tin cá nhân
                    </h4>
                    <div class="form-group">
                        <label><b>Họ tên:</b> </label>
                        <input type="text"
                               class="form-control text-center"
                               value="{{ user.name }}"
                               data-user-name="{{ user.name }}"
                               name="user_name" >
                    </div>
                    <div class="form-group">
                        <label><b>Email:</b> </label>
                        <input type="text"
                               class="form-control text-center"
                               value="{{ user.email }}"
                               data-user-email="{{ user.email }}"
                               name="user_email">
                    </div>
                    <div class="form-group">
                        <label><b>Số điện thoại:</b> </label>
                        <input type="text"
                               class="form-control text-center"
                               value="{% if user.phone_number %}{{ user.phone_number }}{% else %}Không có{% endif %}"
                               data-user-phone="{% if user.phone_number %}{{ user.phone_number }}{% else %}Không có{% endif %}"
                               name="user_phone" >

                    </div>
                    <div class="form-group">
                        <label><b>Địa chỉ:</b> </label>
                        <input type="text"
                               class="form-control text-center"
                               value="{% if user.address %}{{ user.address }}{% else %}Không có{% endif %}"
                               data-user-address="{% if user.address %}{{ user.address }}{% else %}Không có{% endif %}"
                               name="user_address" >
                    </div>
                </div>
                <button class="form-control btn btn-warning mx-3"
                        type="submit"
                        id="saveChangeInfoBtn">
                     <i class="fa-solid fa-floppy-disk"></i>
                    Lưu thay đổi
                </button>
            </form>
        </div>
        <hr>

            {% if user_receipts %}
            <table class="table table-hover table-bordered text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>STT</th>
                        <th>Mã hóa đơn</th>
                        <th>Ngày đặt</th>
                        <th>Phương thức thanh toán</th>
                        <th>Tình trạng</th>
                        <th>Địa chỉ nhận hàng</th>
                        <th>Chi tiết</th>
                    </tr>
                </thead>

                <tbody>

                {% for receipt in user_receipts %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ receipt.id }}</td>
                        <td>{{ receipt.created_date.strftime('%d-%m-%Y  %H:%M:%S') }}</td>
                        <td>{{ receipt.payment_name }}</td>
                        <td>
                            <button class="status-btn form-control btn {{ status_colors[receipt.status_id] }}">
                                {{ receipt.status_name }}
                            </button>
                        </td>
                        <td>
                            {% if receipt.delivery_address %}
                                {{ receipt.delivery_address }}
                            {% else %}

                            {% endif %}
                        </td>
                        <td>
                            <a  href="{{ url_for('receipt.receipt_detail_view', receipt_id = receipt.id, next_url='user_admin', user_id=user.id) }}"
                                class="btn btn-dark">
                                <i class="fa-solid fa-eye"></i>
                                Xem chi tiết
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            {% else %}
                <br><br>
                <h2 class="text-center"> Người dùng chưa có hoạt động nào </h2>
                <br><br><br>

            {% endif %}
            </table>

    {% endif %}


<script>
    const updateButton = document.querySelector('#saveChangeInfoBtn')
    updateButton.style.display = 'none';
    const inputs = document.querySelectorAll('#userInfoForm form input');

    function checkForChanges() {
        let isChanged = false;

        inputs.forEach(function(input) {
            const currentValue = input.value;
            const originalValue = input.getAttribute('data-' + input.name.replace('_', '-'));
            console.log(originalValue)

            if (input.type === 'date' || input.type === 'datetime-local') {

            if (originalValue !== null && inputDate.getTime() !== originalDate.getTime()) {
                updateButton.style.display = 'block';
            } else {
                updateButton.style.display = 'none';
            }
        }

            if (originalValue !== null && currentValue !== originalValue) {
                isChanged = true;
            }
        });

        if (isChanged) {
            updateButton.style.display = 'block';
        } else {
            updateButton.style.display = 'none';
        }
    }


    inputs.forEach(input => {
        input.addEventListener('keyup', checkForChanges);
        });
</script>




{% endblock %}