{% extends 'admin/base.html' %}


{% block body %}


{% if not warranty_detail %}
        <h1 class="text-center text-dark mt-4 mb-5"> Bảo hành & bảo trì sản phẩm </h1>
        <hr>
        <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2"
                     type="search"
                     style="width: 30%"
                     placeholder="Tên chương trình hoặc mã bảo hành"
                     aria-label="Search"
                     name="info">

              <button class="btn btn-outline-dark my-2 my-sm-0"
                      type="submit">
                   <i class="fa-solid fa-magnifying-glass"></i>
                  Tìm kiếm
              </button>
        </form>
            <button style="width: 41.5%; font-size: 18px;"
                    data-toggle="modal"
                    data-target="#createWarranty"
                    class="btn btn-warning mt-2 form-control font-weight-bold">
                 <i class="fa-solid fa-plus"></i>
                 Thêm chương trình bảo hành mới
            </button>
        <hr>

        <table class="table table-hover table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã chương trình</th>
                    <th scope="col">Tên chương trình bảo hành</th>
                    <th scope="col">Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody>
                {% for warranty in warrantys %}
                    <tr id="warranty-row-{{ warranty.id }}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ warranty.id }}</td>
                        <td>{{ warranty.description }}</td>
                        <td>
                            <a href="{{ url_for('warranty.warranty_update', warranty_id = warranty.id) }}"
                               class="btn btn-dark" >
                                <i class="fa-solid fa-pencil"></i>
                                Chỉnh sửa
                            </a>
                            <a onclick="deleteWarranty({{ warranty.id }})"
                               class="btn btn-danger text-light" >
                                <i class="fa-solid fa-trash"></i>
                                Xóa
                            </a>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    <!--CREATE MODAL-->
    <form action="{{ url_for('warranty.create_warranty') }}"
          method="POST">
        <div class="modal fade" id="createWarranty">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header bg-dark text-light">
                <h4 class="modal-title">Thêm chương trình bảo hành</h4>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="form-group">
                    <label>Mô tả chương trình bảo hành:</label>
                    <input type="text"
                           class="form-control"
                           name="description" >
                </div>
                <div class="form-group">
                    <input type="checkbox"
                           class="custom-checkbox"
                           name="apply_all">
                    Áp dụng cho tất cả sản phẩm
                </div>
                <div class="form-group warranty-time">
                    <label>Thời hạn bảo hành: </label>
                    <div class="form-inline">
                        <input type="text"
                               class="form-control"
                               style="width: 23%;"
                               name="warranty_period">
                        <select name="time_unit"
                                id="select_time_unit"
                                class="custom-select ml-2 w-75">
                            <option value="" selected>Đơn vị</option>
                            <option value="WEEK">tuần</option>
                            <option value="MONTH">tháng</option>
                            <option value="YEAR">năm</option>
                        </select>
                    </div>
                </div>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                <i class="fa-solid fa-xmark"></i>
                    Đóng
                </button>
                  <button type="submit" class="btn btn-warning">
                      <i class="fa-solid fa-check-to-slot"></i>
                      Thêm
                  </button>
              </div>
            </div>
          </div>
        </div>
    </form>

<script>
    const checkbox = document.querySelector("input[name='apply_all']")
    const warrantyTimeBlock = document.querySelector('.warranty-time')

    toggleWarrantyTime = () => {
        if ( checkbox.checked ){
            warrantyTimeBlock.style.display = 'block'
        } else {
            warrantyTimeBlock.style.display = 'none'
        }
    }

    checkbox.addEventListener('change', toggleWarrantyTime)

    toggleWarrantyTime()


    deleteWarranty = (warrantyId) => {
        if (confirm("Bạn có chắc chắn muốn xóa chương trình bảo hành này?")) {

            fetch(`/api/delete_warranty/${warrantyId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json' 
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success){
                    const row = document.querySelector(`#warranty-row-${warrantyId}`)
                    if (row){
                        row.remove()
                    }
                    alert("Chương trình bảo hành đã được xóa thành công!");
                }   
                    else {
                    alert("Đã có lỗi xảy ra khi xóa chương trình !");
                }
            }).catch(error => {
                console.error("Error:", error);
                alert("Có lỗi xảy ra khi xóa chương trình bảo hành.");
            })
        }
    }

</script>


{% else %}
        <h1 class="text-center text-dark mt-4 mb-5"> Chỉnh sửa thông tin bảo hành </h1>
        <hr>
        <form action=""
              id="update-warranty-form"  >
                <div class="form-group">
                    <label>Mã bảo hành:</label>
                    <input type="text"
                           value="{{ warranty_detail[0].warranty_id }}"
                           class="form-control mr-2"
                           readonly>
                </div>
                <div class="form-group">
                    <label>Nội dung: </label>
                    <input type="text"
                           name="warranty_description"
                           value="{{ warranty_detail[0].warranty_description }}"
                           class="form-control mr-2"
                           data-warranty-description="{{warranty_detail[0].warranty_description}}" >
                </div>
        </form>
        <br>
        <hr>
        <h2 class="text-center text-dark mt-4 mb-4"> Các sản phẩm áp dụng </h2>
        <button class="btn btn-warning format-btn font-weight-bold text-dark"
                data-toggle="modal"
                data-target="#applyWarrantyModal">
            <i class="fa-solid fa-square-plus"></i>
            Thêm sản phẩm áp dụng
        </button>
        {% if void %}
            <h2 class="text-center text-dark mt-4 mb-4"> Hiện chưa có sản phẩm nào áp dụng </h2>

        {% else %}

        <hr>

        <table class="table table-hover table-bordered text-center update-warranty-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã sản phẩm</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Thời hạn áp dụng</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in warranty_detail %}
                    <tr id="warranty-row-{{item.product_id}}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ item.product_id }}</td>
                        <td>{{ item.product_name}}</td>
                        <td>
                            <p id="warranty_time_{{item.product_id}}">
                                {{ item.warranty_period }} {{ item.time_unit.value }}
                            </p>
                            <div class="mt-2">
                                <input type="text"
                                       name="warranty_detail_period_{{ item.product_id }}"
                                       value="{{ item.warranty_period }}"
                                       class="form-control mr-2"
                                       style="width: 45%">
                                <select name="warranty_detail_time_unit_{{ item.product_id }}"
                                        class="form-control"
                                        style="width: 45%">
                                    {% for time in time_unit %}
                                        {% if time.value == item.time_unit.value %}
                                            <option value="{{ item.time_unit }}" selected>{{ item.time_unit.value }}</option>
                                        {% else %}
                                            <option value="{{ time }}">{{ time.value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <button type="button"
                                    onclick="updateWarrantyDetail({{item.product_id}})"
                                    class="btn btn-dark"
                                    id="edit-btn-{{ item.product_id }}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button type="button"
                                    onclick="updateWarrantyDetail({{item.product_id}}, 'undo')"
                                    class="btn btn-warning"
                                    id="undo-btn-{{ item.product_id }}">
                                <i class="fa-solid fa-undo"></i>
                            </button>
                            <button type="button"
                                    onclick="deleteApplyWarranty({{warranty_detail[0].warranty_id}}, {{item.product_id}})"
                                    class="btn btn-danger">
                                 <i class="fa-solid fa-ban"></i>
                            </button>
                            <br>
                            <button class="btn btn-warning mt-2"
                                    id="confirm-btn-{{ item.product_id }}"
                                    onclick="changeWarrantyDetail({{item.product_id}})">
                                <i class="fa-solid fa-circle-check"></i>
                                    Lưu thay đổi
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <a href="{{ url_for('warranty.index') }}"
           style="font-size: 24px;"
           class="btn btn-dark mt-2 mb-5">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Quay lại
        </a>
        <button type="button"
                id="save-change-btn"
                style="font-size: 24px;"
                class="btn btn-warning mt-2 mb-5"
                onclick="saveChanges()">
                <i class="fa-solid fa-floppy-disk"></i>
                Lưu thay đổi
        </button>



<!--APPLY WARRANTY FOR PRODUCT MODAL-->
        <div class="modal fade ml-5" id="applyWarrantyModal">
          <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">

              <div class="modal-header bg-dark text-light">
                <h4 class="modal-title">Áp dụng bảo hành cho sản phẩm</h4>
                <button type="button" class="close  text-light" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                  <h3 class="text-center mb-3">Danh sách sản phẩm chưa áp dụng</h3>
                  <input type="text"
                         class="form-control w-50 mb-2 border-dark"
                         id="productInput"
                         onkeyup="filterProduct()"
                         placeholder="Tìm tên sản phẩm...">
                  <table class="table table-hover table-bordered text-center apply-warranty-table">
                      <thead class="thead-dark">
                           <tr>
                               <th scope="col">Mã sản phẩm</th>
                               <th scope="col">Tên sản phẩm</th>
                               <th scope="col">Thời gian</th>
                               <th scope="col">Đơn vị</th>
                               <th scope="col"></th>
                           </tr>
                      </thead>
                      <tbody>
                            {% for product in products %}
                            <tr>
                                <th scope="row">
                                    {{ product.id }}
                                </th>
                                <td>{{ product.name }}</td>
                                <td>
                                    <input type="text"
                                           class="form-control"
                                           name="period_{{product.id}}">
                                </td>
                                <td>
                                    <select name="time_unit_{{product.id}}"
                                            class="custom-select">
                                        <option value="" selected></option>
                                        <option value="WEEK">Tuần</option>
                                        <option value="MONTH">Tháng</option>
                                        <option value="YEAR">Năm</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           class="form-control"
                                           name="checked_{{ product.id }}"
                                           data-product-id="{{ product.id }}" >
                                </td>
                            </tr>
                            {% endfor %}
                      </tbody>
                  </table>
              </div>

              <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                    Đóng
                </button>
                  <button type="button"
                          class="btn btn-warning"
                          onclick="applyWarranty()">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Lưu áp dụng
                </button>
              </div>

            </div>
          </div>
        </div>
        <input type="hidden"
               name="inputWarrantyId"
               value="{{ warranty_detail[0].warranty_id }}" >

<script>
    const description_input = document.querySelector("input[name='warranty_description']")
    const description_value = description_input.getAttribute('data-warranty-description')
    const saveChangeButton = document.querySelector('#save-change-btn')
    toggleChangeButton = () => {
        if ( description_input.value != description_value ){
            saveChangeButton.style.display = 'inline'
        } else {
            saveChangeButton.style.display = 'none'
        }
    }

    description_input.addEventListener('keyup', toggleChangeButton)
    toggleChangeButton()

    saveChanges = () => {

        if (confirm('Xác nhận lưu thay đổi ?') == true){
            const description = document.querySelector("input[name='warranty_description']").value
            const warrantyId = document.querySelector("input[name='inputWarrantyId']").value
            

            fetch('/api/update_warranty', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    warranty_id: warrantyId,
                    description: description
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success){
                    alert(data.message)
                    document.querySelector("input[name='warranty_description']").innerText =  description
                }
                else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error: ', error)
                alert("Đã có lỗi xảy ra khi cập nhật thông tin bảo hành")
            })
        }

    }

    function filterProduct() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("productInput");
      filter = input.value.toUpperCase();
      table = document.querySelector('.apply-warranty-table')
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }


    applyWarranty = () => {
        if (confirm ("Xác nhận áp dụng đối với các sản phẩm ? ")) {
            const productsData = [];
            const warrantyId = document.querySelector("input[name='inputWarrantyId']").value
            let isValid = true;

            document.querySelectorAll("input[name^='checked_']").forEach(input => {
                if (input.checked) {
                    const productId = input.getAttribute('data-product-id')

                    const periodInput = document.querySelector(`input[name='period_${productId}']`)
                    const timeUnitSelect = document.querySelector(`select[name='time_unit_${productId}']`)

                    const period = periodInput.value;
                    const timeUnit = timeUnitSelect.value;

                    if (!period || !timeUnit) {
                        alert(`Vui lòng nhập thời gian và đơn vị cho sản phẩm ID: ${productId}`)
                        isValid = false;
                    }

                    productsData.push({
                        product_id: productId,
                        warranty_period: period,
                        time_unit: timeUnit
                    })
                }
            })

            if (productsData.length === 0) {
                alert("Bạn chưa chọn sản phẩm nào !")
                return;
            }

            fetch('/api/apply_warranty', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    warranty_id: warrantyId,
                    products: productsData
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Chương trình bảo hành đã được áp dụng thành công cho các sản phẩm!")
                    location.reload()
                } else {
                    alert("Có lỗi xảy ra khi áp dụng chương trình bảo hành.")
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("Có lỗi xảy ra khi áp dụng chương trình bảo hành.")
            })
        }
    }

    deleteApplyWarranty = (warrantyId, productId) => {
        if (confirm("Bỏ áp dụng chương trình bảo hành với sản phẩm này?")) {

            fetch(`/api/delete_apply_warranty/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    warranty_id: warrantyId,
                    product_id: productId
                })
                
            })
            .then(response => response.json())
            .then(data => {
                if (data.success){
                    const row = document.querySelector(`#warranty-row-${productId}`)
                    if (row){
                        row.remove()
                    }
                    alert("Đã bỏ áp dụng sản phẩm!");
                    location.reload()
                }
                    else {
                    alert("Đã có lỗi xảy ra khi bỏ áp dụng chương trình !");
                }
            }).catch(error => {
                console.error("Error:", error);
                alert("Có lỗi xảy ra khi bỏ áp dụng chương trình.");
            })
        }
    }


    period_inputs = document.querySelectorAll(`input[name^='warranty_detail_period_']`).forEach(input =>{
        input.style.display = 'none'
    })

    time_unit_inputs = document.querySelectorAll(`select[name^='warranty_detail_time_unit_']`).forEach(input =>{
        input.style.display = 'none'
    })

    undo_btns = document.querySelectorAll("[id^='undo-btn-']").forEach(input =>{
        input.style.display = 'none'
    })

    confirm_btns = document.querySelectorAll("[id^='confirm-btn-']").forEach(input =>{
        input.style.display = 'none'
    })

    updateWarrantyDetail = (product_id, func) => {
        const period_input = document.querySelector(`input[name='warranty_detail_period_${product_id}']`)
        const time_unit_input = document.querySelector(`select[name='warranty_detail_time_unit_${product_id}']`)
        const undo_btn = document.querySelector(`#undo-btn-${product_id}`)
        const edit_btn = document.querySelector(`#edit-btn-${product_id}`)
        const confirm_btn = document.querySelector(`#confirm-btn-${product_id}`)

        if (func === 'undo') {
            period_input.style.display = 'none'
            time_unit_input.style.display = 'none'
            undo_btn.style.display = 'none'
            confirm_btn.style.display = 'none'
            edit_btn.style.display='inline'
        } else {
            period_input.style.display = 'inline'
            time_unit_input.style.display = 'inline'
            undo_btn.style.display = 'inline'
            confirm_btn.style.display = 'inline'
            edit_btn.style.display='none'
        }


    }


    changeWarrantyDetail = (productId) => {
        const period = document.querySelector(`input[name='warranty_detail_period_${productId}']`).value
        const time_unit = document.querySelector(`select[name='warranty_detail_time_unit_${productId}']`).value
        TimeUnit = {
            "TimeUnitEnum.MONTH": 'tháng',
            "TimeUnitEnum.YEAR": 'năm',
            "TimeUnitEnum.WEEK": 'tuần',

        }
        const time_unit_display = TimeUnit[time_unit]
        console.log(time_unit_display)
        const warrantyId = document.querySelector("input[name='inputWarrantyId']").value
        fetch('/api/change_warranty_detail', {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                warranty_id: warrantyId,
                product_id: productId,
                period: period,
                time_unit: time_unit
            })
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => { 
                    throw new Error(`Server Error: ${text}`); 
                });
            }
            return response.json();
        })
        .then(data => {
            if (data.success){
                alert("Đã thay đổi thông tin bảo hành!");
                document.querySelector(`#warranty_time_${productId}`).textContent = `${period} ${time_unit_display}`;

                document.querySelector(`input[name='warranty_detail_period_${productId}']`).style.display = 'none';
                document.querySelector(`select[name='warranty_detail_time_unit_${productId}']`).style.display = 'none';
                document.querySelector(`#confirm-btn-${productId}`).style.display = 'none';
                document.querySelector(`#undo-btn-${productId}`).style.display = 'none';

                document.querySelector(`#edit-btn-${productId}`).style.display = 'inline';
            }
                else {
                alert("Đã có lỗi xảy ra khi thay đổi thông tin chương trình !");
            }
        })
        .catch(error => {
            console.error("Error: ", error)
            alert("Có lỗi xảy ra khi thay đổi thông tin chương trình.");
        })
    }


</script>


{% endif %}

{% endblock %}