{% extends 'layout/base.html' %}



{% block content %}


<div class="container">
    <div class="mt-5 row"
         id="account-setting-container"
         style="border-radius: 20px;
                margin:0px;
                padding: 0px;">

<!--        MENU            -->
        <div class="col-md-4 p-4">
            <div class="form-group">
              <button class="border-0 btn mb-2"
                      onclick="load_account_setting('private_form')"  >
                  <i class="fa-solid fa-key mr-3"></i>
                  Thông tin cá nhân
              </button>
              <button class="border-0 btn mb-2"
                      onclick="load_account_setting('account_form')">
                  <i class="fa-solid fa-gear mr-3"></i>
                  Tài khoản
              </button>
            </div>
        </div>

<!--        ACCOUNT SETTING       -->
        <div class="col-md-8 p-5" style="row-gap:1.2rem;">
            <span class="row mb-5">
                <span class="user-avatar-setting">
                     <img src="{{ current_user.avatar}}"
                          alt="user_avatar"
                          style="width:120px;"
                          class="avatar">
                    <span class="edit-icon">
                        <button data-toggle="modal" data-target="#choose-avatar-modal">
                             <i class="fa-solid fa-pencil"></i>
                        </button>
                    </span>
                </span>

                <span class="col-md-8">
                    <p class="mt-5 font-weight-bold"
                       style="font-size: 32px;">
                        Cài đặt tài khoản
                    </p>
                </span>

            </span>
            <form id="private_form">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Họ và tên:</label>
                        <input type="text"
                           class="form-control"
                           value="{{ current_user.name }}"
                           name="fullname" >
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Username đăng nhập: </label>
                        <input type="text"
                           class="form-control"
                           value="{{ current_user.username }}"
                           name="username" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Mật khẩu:</label>
                        <input type="password"
                           readonly
                           class="form-control"
                           value="{{ current_user.password }}"
                           name="password" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Email:</label>
                        <input type="email"
                           class="form-control"
                           value="{{ current_user.email }}"
                           name="email" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Số điện thoại: </label>
                        <input type="text"
                           class="form-control"
                           value="{% if current_user.phone_number %} {{current_user.phone_number}} {% endif %}"
                           name="phone_number"
                           placeholder="Bổ sung số điện thoại ...">
                    </div>
                </div>
                 <div class="form-group row">
                     <div class="col-md-12">
                         <label>Địa chỉ nhận hàng mặc định:  </label>
                         <input type="text"
                           class="form-control"
                           value="{% if current_user.address %} {{current_user.address}} {% endif %}"
                           name="user_address"
                           placeholder="Bổ sung địa chỉ ...">
                     </div>
                </div>
                <div class="form-group form-inline">
                    <a href="{{ url_for('home') }}" class="btn p-2 mr-3 border-0">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Quay lại
                    </a>
                    <button type="button" class="p-2 border-0" data-toggle="modal" data-target="#confirmInfoModal">
                        <i class="fa-solid fa-file-circle-check"></i>
                        Lưu thông tin
                    </button>
                </div>
            </form>




            <form id="account_form">
                <div class="form-group row">
                     <div class="col-md-12">
                         <button type="button"
                                 class="btn btn-danger text-light delete">
                         <i class="fa-solid fa-ban"></i>
                          Xóa tài khoản
                         </button>
                     </div>
                </div>
            </form>
        </div>




<!--CONFIRM MODAL-->

        <div class="modal fade" id="confirmInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận thay đổi thông tin </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">
                        Đóng
                </button>
                <button type="button"
                        class="btn btn-warning"
                        onclick="saves_change()">
                        Lưu thay đổi
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <br><br><br>


<!--    CHOOSE AVATAR MODAL -->
    <div class="modal fade" id="choose-avatar-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Chọn avatar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body choose-avatar-body">
            <div class="row choose-avatar-container">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-warning">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Lưu
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">
                    Đóng
            </button>
          </div>
        </div>
      </div>
    </div>


<script>
    function save_change(){
        const nameRegex = /^[a-zA-Z\s]+$/;
        const usernameRegex = /^[a-zA-Z0-9]+$/;
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const phoneRegex = /^\d{10,}$/;
        const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

        const fullname = document.querySelector('input[name="fullname"]').value;
        const username = document.querySelector('input[name="username"]').value;
        const email = document.querySelector('input[name="email"]').value;
        const phoneNumber = document.querySelector('input[name="phone_number"]').value;
        const password = document.querySelector('input[name="password"]').value;

        if (!nameRegex.test(fullname)) {
            alert("Tên không hợp lệ, chỉ chứa chữ cái và khoảng trắng.");
            return;
        }

        if (!usernameRegex.test(username)) {
            alert("Username không hợp lệ, không chứa ký tự đặc biệt.");
            return;
        }

        if (!emailRegex.test(email)) {
            alert("Email không hợp lệ.");
            return;
        }

        if (!phoneRegex.test(phoneNumber)) {
            alert("Số điện thoại phải chứa ít nhất 10 số.");
            return;
        }

        if (!passwordRegex.test(password)) {
            alert("Mật khẩu phải có ít nhất 8 ký tự và bao gồm cả chữ cái và số.");
            return;
        }

        const formData = {
            fullname,
            username,
            email,
            phone_number: phoneNumber,
            password
        };


    }


    document.querySelector('#account_form').style.display = 'none'

    load_account_setting = (form_name) => {
        part = document.querySelectorAll("form").forEach(form =>{
            form.style.display = 'none'
        })

        document.querySelector(`#${form_name}`).style.display = 'block'

    }

    var avatarHTML = ''
    for ( var i=1; i < 19; i++){
        avatarHTML += `
            <img class="avatar-choosing col-2"
                     src="https://avatar.iran.liara.run/public/${i}"
                     alt="Ảnh">
        `
    }

    document.querySelector('.choose-avatar-container').innerHTML = avatarHTML


</script>


{% endblock %}