<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chào mừng</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/577b2b59fe.js" crossorigin="anonymous"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        html, body{
            overflow: hidden;
        }
    </style>
</head>
<body>

    <div class="containers">
        <video id="myVideo" muted loop>
            <source src="{{url_for('static', filename='video/video.mp4')}}">
        </video>

        <div class="wrapper">
            <div class="copy">

            </div>
        </div>

        <div class="blocks">
                <div class="block block-left"></div>
                <div class="block block-right"></div>
        </div>

        <div class="letters">
            <div class="rows">
                <div class="letter top-left">ANN</div>
                <div class="letter top-right">NPTT</div>
            </div>

            <div class="rows">
                <div class="letter bottom-left">WEB</div>
                <div class="letter bottom-right ">SITE</div>
                    <a href="{{ url_for('home') }}"
                       class="btn mb-5 mr-5 main-menu-btn"
                       style="font-size: 48px;">
                       Trang chủ
                        <i class="fas fa-arrow-right"
                           style="font-size: 50px;"></i>
                    </a>
            </div>
        </div>
    </div>


    <script>

        window.onload = function() {
            setTimeout(function() {
                var video = document.getElementById('myVideo');
                video.play();
            }, 2000);
        }

        gsap.from(".letter", 0.5, {
            y: -20,
            opacity: 0,
            ease: "power3.inOut",
            stagger: 0.1
        })

        gsap.to(".top-left, .top-right", 1, {
            top: "0",
            ease: "power3.inOut",
            delay: 1,
        })

        gsap.to(".bottom-left, .bottom-right", 1, {
            bottom: "0",
            ease: "power3.inOut",
            delay: 1,
        })

        gsap.to(".top-left", 2, {
            left: "0",
            ease: "power3.inOut",
            delay: 2,
        })

        gsap.to(".top-right", 2, {
            right: "0",
            ease: "power3.inOut",
            delay: 2,
        })

        gsap.to(".bottom-right", 2, {
            right: "0",
            ease: "power3.inOut",
            delay: 2,
        })

        gsap.to(".bottom-left", 2, {
            left: "0",
            ease: "power3.inOut",
            delay: 2,
        })

        gsap.to('.block-right', 2, {
            right: "-50%",
            ease: "power3.inOut",
            delay: 2,
        })

        gsap.to('.block-left', 2, {
            left: "-50%",
            ease: "power3.inOut",
            delay: 2,
        })


    </script>

</body>
</html>