{% extends 'layout/base.html' %}

{% block title %}Chi tiết sản phẩm{% endblock %}

{% block content %}
<h1 class="text-center mt-3">{{product.name}}</h1>
<hr>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-xs-12 text-right">
            <img class="img-fluid" src="{{url_for('static', filename=product.image) }}" alt="{{product.name}}">
        </div>
        <div class="col-md-7 col-xs-12">
            <table class="table table-hover">
                <tr>
                    <td>Tên:</td>
                    <td class="text-left">{{product.name}}</td>
                </tr>
                <tr>
                    <td>Mô tả:</td>
                    <td class="text-left">{{product.description}}</td>
                </tr>
                <tr>
                    <td>Giá:</td>


                    {% if product.sale == True or product.sale_price > 1000 %}
                    <td class="text-left text-danger font-weight-bold">
                        <s class="text text-dark font-weight-light">{{ "{:,.1f}".format(product.price) }} VND</s>
                        <p>{{ "{:,.1f}".format(product.sale_price) }}đ <span class="discount text font-weight-bold">- {{ "{:.1f}%".format((product.price - product.sale_price) / product.price * 100) }}</span></p>
                    </td>
                    </tr>
            </table>
             <a href="#" class="btn btn-danger form-control"
                   onclick="addToCart({{product.id}}, '{{product.name}}', {{product.sale_price}}, '{{product.image}}' )"><i class="fa fa-cart-plus"></i> Thêm vào giỏ hàng</a>
        </div>
    </div>

                    {% else %}
                    <td class="text-left text-danger font-weight-bold">{{ "{:,.1f}".format(product.price) }}đ
                    </td>

                </tr>
            </table>
             <a href="#" class="btn btn-danger form-control"
                   onclick="addToCart({{product.id}}, '{{product.name}}', {{product.price}}, '{{product.image}}' )">
                 <i class="fa fa-cart-plus"></i>
                 Thêm vào giỏ hàng
             </a>
        </div>
    </div>
     {% endif %}

<br>
<hr>
<!-- POST COMMENT-->
{% if current_user.is_authenticated %}
<div>
    <div class="form-group">
        <textarea class="form-control" id="commentId"
                  placeholder="Nhập nội dung bình luận..."></textarea>
    </div>
    <input type="button"
           onclick="add_comment({{ product.id }})"
           class="btn btn-primary"
           value="Bình luận">
</div>
{% else %}
<a class="btn btn-info" href="{{url_for('user_signin', next='product_detail') }}">Đăng nhập để bình luận</a>
{% endif %}

<br><br>
<div id="commentArea">
    {% for c in comments %}
    <div class="row">
        <!-- AVATAR -->
        <div class="col-md-1 col-xs-4">
            {% if c.user.avatar and c.user.avatar.startswith('https') %}
            <img src="{{ c.user.avatar }}"
                 class="img-fluid rounded-circle" alt="avatar">
            {% else %}
            <img src="{{url_for('static', filename='images/iphone7.jpg') }}"
                 class="img-fluid rounded-circle" alt="avatar">
            {% endif %}
        </div>

        <!-- CONTENT-->
        <div class="col-md-11 col-xs-8">
            <p>{{c.content}}</p>
            <p><em class="my-date">{{c.created_date}}</em></p>
        </div>
    </div>
    {% endfor %}
</div>
    <hr>

<!-- GỢI Ý MUA KÈM -->

<!--<hr>-->
    {% if products %}
<h2>Có thể bạn sẽ thích</h2>
    <div class="row">
        {% for p in products %}
            {% if p.id in suggest_id and p.id != product.id %}
                <div class="col-md-3 col-s-12" style="padding: 5px;">
                    <div class="card hover-overlay h-100" style="padding: 5px;">
                        <a href="{{url_for('product_detail', product_id = p.id) }}">
                            <img class="card-img-top" src="{{url_for('static', filename=p.image)}}" alt="Product" style="max-height: 300px;">
                        </a>
                       <div class="card-body">
                            <h4 class="card-title">{{p.name}}</h4>
                           {% if p.sale == True or p.sale_price > 1000 %}
                    <s class="card-text text-dark font-weight-light">{{"{:,.0f}".format(p.price)}}đ</s><span class="discount text font-weight-bold">- {{ "{:.1f}%".format((p.price - p.sale_price) / p.price * 100) }}</span>
                    <p class="card-text text-danger font-weight-bold">{{"{:,.0f}".format(p.sale_price)}}đ </p>
                       {% else %}
                    <p class="card-text text-danger font-weight-bold">{{"{:,.0f}".format(p.price)}}đ</p>
                       {% endif %}
                      </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <div>
        <p><i> Không có sản phẩm nào !!!</i></p>
        {% endif %}
    </div>
</div>

<script>
    window.onload = function() {
        date = document.getElementsByClassName('my-date')
        for (let i=0; i < date.length; i++)
            date[i].innerText = moment(date[i].innerText).locale('vi').fromNow()
    }
</script>

{% endblock %}