
<nav id="main-navbar"
     class="navbar navbar-expand-md d-flex flex-column"
     style="background-color:#FFF ;z-index: 10001">
  <!-- Brand -->

<div class="row-1">
    <div class="mr-5">
        <a class="navbar-brand font-bold text-dark" href="/product">
            <b style="font-size:25px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">AANT WEBSITE</b>
        </a>
    </div>


    <div class="d-flex flex-row">
        <form class="form-inline">
            <div class="form-group">
              <input class="form-control mr-sm-2" name="kw" type="text" placeholder="Nhập từ khóa ... ">
              <button class="btn mr-sm-2" type="submit" style="border-radius: 20px" ><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>

  <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">


              <li class="nav-item ">
                <div class="dropdown">
                  <button class="btn dropdown-toggle" id="dropdown-user" data-toggle="dropdown">
                    <i class="fas fa-user"
                       style="font-size: 26px;"></i>
                  </button>
              {% if current_user.is_authenticated %}
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                      <img src="{{current_user.avatar}}"
                           style="height:60px;"
                           class="rounded-circle">
                      {{current_user.name}}
                    </a>
                      <a class="dropdown-item mb-2" href="{{ url_for('account_setting') }}"><i class="fas fa-signal mr-2"></i> Cài đặt </a>
                      <a class="dropdown-item mb-2" href="{{ url_for('user_receipt', user_id = current_user.id) }}"><i class="fas fa-list mr-3"></i> Lịch sử đặt hàng</a>
                      <a class="dropdown-item mb-2" href="{{url_for('user_signout')}}"><i class="fas fa-power-off mr-3"></i>   Đăng xuất </a>
                  </div>
              {% else %}
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('user_register')}}"><i class="fas fa-user-plus"></i>  Đăng ký </a>
                    <a class="dropdown-item" href="{{url_for('user_signin')}}"><i class="fas fa-user-check"></i>  Đăng nhập </a>
                  </div>
                </div>
              </li>
              {% endif %}

              <li class="nav-item ">
            <!--url_for(define Python function)-->
                <a class="nav-link ml-2"
                   href="{{url_for('cart')}}">
                    <i class="fa-solid fa-cart-shopping"
                       style="font-size: 26px;"></i>
                    <span class="badge badge-danger cart-counter">{{cart_stats.total_quantity}}</span>
                </a>
              </li>

               <li class="nav-item">
                   <a href="{{ url_for('support_chat_room') }}"
                      class="nav-link ml-2"
                      style="font-size: 18px;"
                      name="join">
                       <i class="fa-solid fa-headset" style="font-size: 26px;"></i>
                       Hỗ trợ trực tuyến
                   </a>
               </li>
            </ul>
        </div>
    </div>
</div>


<div class="row-2 mt-2 mb-2">
    <ul class="navbar-nav"
        style="font-size: 18px">
        {% for category in categories %}
            {% if not category.parent_id %}
                {% if category.child %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                        {{ category.name }}
                      </a>
                      <div class="dropdown-menu">
                         {% for c in categories %}
                             {% if c.parent_id == category.id %}
                                     <a class="dropdown-item" href="{{ url_for('home', category_id=c.id) }}">{{ c.name }}</a>
                             {% endif %}
                          {% endfor %}
                      </div>
                    </li>
                {% else %}
                  <li class="nav-item {% if 'category_id' in request.args and category.id == request.args.category_id|int %}active{% endif %} ">
                    <a class="nav-link"  href="{{url_for('home', category_id=category.id) }}" >{{ category.name }}</a>
                  </li>
                {% endif %}
            {% endif %}
        {% endfor %}


    </ul>
</div>

</nav>

<script>

</script>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/577b2b59fe.js" crossorigin="anonymous"></script>
